body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

.image-container{
    text-align: center;
}

.image-container img{
    margin: 0.25rem;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    width: 18.75rem;
    height: 18.75rem;
}

.btn{
    background-color: rgb(241, 137, 11);
    border: none;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem;
    color: aliceblue;
    border-radius: 0.25rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}